<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
    <title>Event Posts</title>
</head>
<body>
    <h1>Available Events</h1>
    <ul>
        {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <a href="{% url 'show_interest' post.id %}">Show Interest</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>